<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <a href="/">
      <h1 class='site-title'>Facespace</h1>

    </a>

    <% if (currentUser != undefined) { %>
      <a href="/getname?firstName=<%=currentUser.name%>" class="signin"><%=currentUser.name%></a>
    <% } 
    else 
    {%>
      <a href="/signin" class="signin">Sign In</a>
     <% } %> 
 
  </header>