.header {
  height: var(--header-height);
  background: var(--primary-color);
  padding: 0 var(--page-horizontal-padding);
  display: flex;
  align-items: center;
}
.header h1 {
  color: #fff;
}

.header .signin {
  color: #fff;
  margin-left: auto;
  font-size: 24px;
  font-family: 'Teko', sans-serif;
  background-color: Transparent;
  border: none;
  text-decoration: none;
}
