.homepage {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 var(--page-horizontal-padding);
}
.homepage__all {
  display: flex;
  flex-wrap: wrap;
}
.homepage__all--user {
  margin: 0 4px;
  position: relative;
}

.homepage__all--user .FriendLabel 
{
  background:  #cc550097;
  /* background: rgba(255, 255, 255, 0.6); */
  color: #fff;
  position: absolute;
  top: 22px;
  left: 28px;
  text-align: center;
  font-weight: 200;
  width: calc(100% - 4px);
  text-decoration: none;
  clip-path: polygon(18% 13%, 82% 13%, 98% 80%, 0 81%);
  transform: rotate(45deg);

}


/* .homepage__all--user:hover {
  margin: 0 4px;
  border: 2px solid var(--primary-color);

} */


.homepage__all--user img {
  width: 120px;
}

.homepage__all--user img:hover {
  width: 120px;
  border: 3px solid var(--primary-color);
  transition-duration: 300ms;
}



