<%- include ('../partials/header') %>

<div class = "signin-page">
    <div class = "signin-page__form">
        <form method ="get" action="/getname">
            <label class ="signin-page__form--label"for="firstName"> First Name</label>
            <input class = "signin-page__form--input" type="text" name="firstName" placeholder="Your First Name"/>
            <button class = "signin-page__form--button" type="submit">Submit</button>
        </form>
    </div>
</div>
<%- include ('../partials/footer') %>